@import '@repo/config-tailwind/base';

@utility px-main {
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    @media (min-width: 768px) {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    @media (min-width: 1024px) {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@utility py-main {
    padding-top: 3rem;
    padding-bottom: 3rem;

    @media (min-width: 768px) {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

@utility full-height {
    height: calc(100dvh - var(--spacing-24));

    @media (min-width: 768px) {
        height: calc(100dvh - var(--spacing-32));
    }
}

@utility double-width {
    width: calc(200vw - var(--spacing-12));

    @media (min-width: 768px) {
        width: calc(200vw - var(--spacing-16));
    }

    @media (min-width: 1024px) {
        width: calc(200vw - var(--spacing-32));
    }
}

@utility field-content {
    field-sizing: content;
}
